{{template "base" .}}

{{define "title"}}Помощь{{end}}
{{define "main"}}

    <div class="contact-info">
        <cont>
            +7 999-99-99-999 - Телефон поддержки
            <br>
            example@mail.ru - Почта поддержки
        </cont>
    </div>
{{end}}