{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}
{{define "main"}}
    <div class="container">
  <p2>Всё просто!</p2>
  <b class="score">Баллы:{{.User.Scores}}</b>
</div>
        <p3>
            <a1>↓ 1)Выбери запрос</a1>
            <a1>↓ 2)Создай конференцию Zoom и занеси ID конференции</a1>
            <a1>↓ 3)Проведи занятие</a1>
            <a1>✓ 4)Получи баллы</a1>
        </p3>
    </div>
</div>
{{end}}
